body {
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(204, 156, 93);
    margin: 0;
    text-align: center;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: white;
    max-width: 30em;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    padding: 0;
}

a {
    color: white;
}