/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgb(10 10 10); }
a { color: rgb(0 0 0 / 0.904); }
a:hover { color: rgb(199 62 62); }

/* GLOBAL TYPOGRAPHY */

/* REFERENCE
        62.5% => 10px
        68.8% => 11px
        75% => 12px
        81.3% => 13px
        87.5% => 14px
        100% => 16px
        112.5% => 18px
        125% => 20px
 */

h1 {
    font-size: 2em;
}

body {
    font-family: Avenir Next, sans-serif;
    font-size: 85.75%; /* 14px */
    line-height: 1.4;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

/* HEADER */

header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgb(255 255 255);
    text-decoration: none;
}

header a:hover {
    color: rgb(255 255 255);
    text-decoration: none;
}

/* SITE ID */

.site-id h1 {
    margin: 0;
}

.site-id h1 a:hover {
    text-decoration: none;
}

/* SITE NAV */

.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

.site-nav li {
    font-family: LEMON MILK, Avenir Next;
    font-size: medium;
}

/* MAIN */

main {
    background: rgb(152 188 198);
}

/* FOOTER */

footer {
    background: rgb(152 188 198);
}

/* SOCIAL NAV */

.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

/* .social-nav  a {
    display: block;
    padding: 1em;
} */

.social-nav a:hover {
    color: rgb(255 255 255);
    text-decoration: none;
}

/* HERO SECTION */

.hero {
    background-color: rgba(0 102 204 / 1);
    text-align: left;
    color: rgb(255 255 255);
    padding: 6em 1em;
}

.hero h2 {
    font-family: LEMON MILK, Avenir Next;
    font-size: 5em;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    color: rgb(255 255 255);
    max-width: 41em;
    text-align: left;
    text-transform: lowercase;
    /* margin: 1em auto; */
}

.fade-in p {
    animation: fadeIn ease-in 1.2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* COURSES SECTION */

.courses {
    padding: 5em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
}

/* CUSTOM STYLING */

.page-sub .hero {
    background-image: url('../img/aes.gif');
    background-size: cover;
    background-position: center;
    padding: 20vh 1em;
    color: rgb(255 255 255);
}

.page-sub header {
    background-color: rgb(152 188 198 / .4);
    position: absolute;
    width: 100%;
}

.page-home .hero {
    background-image: url('../img/aes.gif');
    background-size: cover;
    background-position: center;
    padding: 25vh 1em;
}

.page-home header {
    background-color: rgb(152 188 198 / .4);
    position: absolute;
    width: 100%;
}

/* SHINE HOVER EFFECTS */

.shine li {
    font-family: LEMON MILK, Avenir Next;
    font-size: medium;
    background-color: rgb(255 255 255);
    background-image: linear-gradient(
        -75deg,
        transparent 0,
        transparent 5%,
        rgb(230 97 92 / .6) 20%,
        rgb(230 97 92) 20%,
        rgb(255 255 255 / .6) 55%,
        transparent 20%,
        transparent 100%
        );
    background-size: 200% 100%;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 1.2s;
}

.shine li:hover {
    background-position: -120% 0;
}

@keyframes shine {
    from { -webkit-mask-position: 100%; }
    to { -webkit-mask-position: -50%; }
}

/* SHIMMER EFFECT */

.shimmer h2 {
    -webkit-text-stroke: 3px rgb(255 255 255);
    text-shadow: 0 0 20px rgb(255 255 255 / .1);
    overflow: hidden;
    background: linear-gradient(
        90deg,
        rgb(230 97 92 / .8), 
        rgb(199 62 62 / .8),
        rgb(152 188 198),
        rgb(255 255 255 / .6)
    );
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: rgb(255 255 255 / 0);
}

@keyframes animate {
    0% { background-position: -200%; }
    100% { background-position: 200%; }
}

/* CUSTOM FONT STYLING */
/* FONT CREDIT: https://marsnev.com/ */

@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Bold.eot');
    src: url('../fonts/LEMONMILK-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('../fonts/LEMONMILK-Bold.woff') format('woff'),
        url('../fonts/LEMONMILK-Bold.ttf') format('truetype'),
        url('../fonts/LEMONMILK-Bold.svg#LEMONMILK-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.courses h3,
.project h3,
.two-col-sidebar h3 {
    font-family: LEMON MILK, Avenir Next;
    font-size: 100%;
}

.primary h2 {
    font-family: LEMON MILK, Avenir Next;
}

.markup-box h2 {
    font-family: Avenir Next, sans-serif;
    font-size: 1.5em
}

.markup-box h3 {
    font-family: Avenir Next, sans-serif;
    font-size: 1.17em;
}

/* CUSTOM LIST STYLES */

.unicode li {
    list-style: none;
}

.unicode li::before {
    content: '\275D';
    margin-right: .35em;
    margin-left: -2em;
    padding: .2em;
    display: inline-block;
}

ul.a {
    list-style: none;
}

/* ICON STYLING */

.icons ul {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
}

.icons li {
    list-style: none;
    display: inline-block;
    margin: 15px;
    padding: 1px;
}

.icons li {
    position: relative;
    text-decoration: none;
    background: rgb(255 255 255);
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
}

.icons li:hover {
    color: rgb(255 255 255);
}

.icons li::before {
    content: '';
    background: rgb(230 97 92);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100px) scale(0);
    border-radius: 50%;
    z-index: -2;
    transition: .5s;
}

.icons li:hover::before {
    transform: translateX(0) scale(.9);
}

.icons li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / .5);
    z-index: -1;
    transition: .5s;
    transition-delay: .5s;
}

.icons li:hover::after {
    left: 50%;
}

/* COURSE PAGES */

.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* LAYOUT */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

/* SIDEBAR/ASIDE */

aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgb(0 0 0 / 0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */

dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}