/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Poppins', sans-serif; */


/* VARIABLES */

html {
    --color-background: rgb(225 252 213);
    --pink-text: rgb(235 135 171);
    --idlecafe-bg: rgb(42 44 44);
}


/* GLOBALS */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    min-height: 100vh;
    font-size: 85.75%;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 500;
    font-size: 5em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
}

p {
    margin-top: .2em;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--pink-text);
}

section {
    padding: 1em;
    display: grid;
    justify-content: center;
}

.overview h2 {
    font-size: 3.2em;
}

.overview p {
    font-size: 1.3em;
}


/* SUB PAGES HERO */

hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1.5px rgb(225 252 213) solid;
    border-radius: 1em;
}

.subpage-hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 87vh;
}

.subpage-hero>div {
    width: 50%;
}

.subpage-hero .textbox {
    padding: 3em 2em;
}


/* LOGO */

.site-logo {
    font-family: 'Fraunces', serif;
    font-weight: 500;
    padding: 1rem;
}


/* RESPONSIVE IMG */

img {
    max-width: 100%;
    height: auto;
}


/* VIDEO */

video {
    max-width: 100%;
    height: auto;
}


/* FLEX GRID */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row>.column {
    flex-grow: 1;
    width: 98%;
    margin: 1%;
    flex-shrink: 0;
    padding: 1em;

    @media (min-width: 768px) {
        &.centered {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            flex-grow: 0;
        }

        &.one-half {
            width: 48%;
        }

        &.one-third {
            width: 31.3333%;
        }

        &.two-thirds {
            width: 64.6666%;
        }

        &.one-fourth {
            width: 23%;
        }
    }
}


/* CONTAINER */

.container {
    max-width: 1100px;
    margin: 0;
}


/* FOOTER */

.site-footer {
    background-color: rgb(235 135 171);
    padding: 3rem;
}

.site-footer a {
    color: rgb(225 252 213);
    text-decoration: none;
}

.nav-text {
    text-transform: uppercase;
    font-weight: 500;
}

.nav-text a:hover {
    color: rgb(36 39 42);
    cursor: grab;
}


/* TOGGLE NAV */

#menu {
    background: rgb(255 226 237);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
}

#menu.open {
    opacity: 1;
    visibility: visible;
}

#menu.open li:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#menu.open li {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#menu ul:hover a {
    opacity: 0.5;
}

#menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
    opacity: 1;
}

#menu .site-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menu .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu .site-nav a {
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-style: italic;
    color: var(--pink-text);
    display: block;
    font-size: 2.5rem;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: lowercase;
}

#menu .site-nav a:first {
    padding-top: 0;
}

.toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
}

.toggle-menu span {
    background-color: rgb(235 135 171);
    content: "";
    display: block;
    height: 3px;
    left: calc(50% - 13px);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
    border-radius: 1em;
}

.toggle-menu span:before,
.toggle-menu span:after {
    background-color: rgb(235 135 171);
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
    border-radius: 1em;
}

.toggle-menu span:before {
    top: 7px;
}

.toggle-menu span:after {
    top: -7px;
}

.toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
}


/* PROJECTS */

/* POLAROIDS */

.desk {
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    transition: filter .2s ease;
}

.photos {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

figure {
    margin: 0;
    padding: .6em;
    color: rgb(235 135 171);
    background: rgb(255 226 237);
    width: 10em;
    box-shadow: 0 0 4vmin rgba(0 0 0 / .35);
    font-size: 1em;
    position: absolute;
    transition: box-shadow .2s ease, filter .2s ease;

    figcaption {
        text-align: center;
        pointer-events: none;
    }
}

figure a {
    pointer-events: none;
}

.active figure a {
    pointer-events: auto;
}


/* IDLE CAFE */

.idle-bg {
    background-color: var(--idlecafe-bg);
    color: rgb(234 245 222);
}

.project-idle {
    text-transform: uppercase;
    margin-bottom: 0;
    color: rgb(255 144 21);
}

.subhead-idle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: lowercase;
    margin-top: .5em;
}

.type-idle {
    text-transform: none;
    font-family: 'Fraunces', serif;
    font-style: italic;
    color: rgb(239 134 206);
    font-size: 2em;
}

.tags-idle {
    list-style: none;
    padding: 0;
}

.tags-idle li {
    display: inline-block;
    background: rgb(225 255 0);
    border-radius: .6em;
    padding: .5em 2em;
    margin: .3em .3em .5em 0;
    color: rgb(41, 43, 45);
    text-transform: uppercase;
    font-weight: 600;
}

.white-bg {
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(234 245 222);
}

.white-bg>div {
    color: rgb(41, 43, 45);
}

.ideation-idle {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 6em;
    text-transform: lowercase;
}

.sitemap-idle {
    text-transform: uppercase;
    margin-top: 0;
}

.style-idle {
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 0;
}

.cotton-cndy {
    font-family: 'Fraunces', serif;
    font-style: normal;
    color: rgb(225 255 0);
}

.logo-design {
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 0;
}

.wireframes-idle {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 6em;
    margin-bottom: 0;
    text-transform: lowercase;
}

.linked-idle {
    color: rgb(234 245 222);
    font-style: italic;
    margin-top: .5em;
}

.linked-idle:hover {
    color: rgb(255 144 21);
}

.v-idle {
    text-transform: uppercase;
    margin-top: 3em;
}

.illustrations-idle {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 6em;
    margin-bottom: 0;
    text-transform: lowercase;
}

.versions-idle {
    text-transform: uppercase;
}

.center-versions {
    text-align: center;
    margin: 0;
}

.final-idle {
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 0;
}

.branding-idle {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 6em;
    margin-bottom: .4em;
    text-transform: lowercase;
}