/* RESET */

* {
    margin: 0;
    padding: 0;
}


/* VARIABLES */

html {
    --color-background: rgb(233 243 208);
    --color-body: rgb(235 135 171 / 1);
}

/* GLOBALS */

body {
    margin: 0;
    background-color: var(--color-body);
}

/* FONTS */

/* font-family: "droid-serif", serif;
font-weight: 700;
font-style: italic; */

/* font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal; */

/* IMG */

img {
    max-width: 100%;
    height: auto;
}

/* HEADER */

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: rgb(255 255 255 / 1)
}

/* LOGO */

.site-logo {
    padding: 1em;
    color: rgb(255 255 255 / 1);
}

/* SITE NAV */

.site-nav ul,
.site-nav li {
    margin: 0;
    position: relative;
    list-style: none;
}

.site-nav ul {
    display: flex;
}

.site-nav li {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.site-nav a {
    display: block;
    padding: 1em;
}


/* HERO */

.hero {
    background-size: cover;
    background-position: center;
    /* padding: 29.5vh 2em; */
    background-color: rgb(233 243 208);
}

.hero h2 {
    font-family: "droid-serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    font-style: italic;
    margin: 0 auto;
    color: rgb(61 178 7 / 1);
}

.hero p {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 26em;
    line-height: 1.4;
    color: rgb(0 0 0 / 1);
}

/* WORK */


/* ABOUT */

.h2-watching {
    font-family: "droid-serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    color: rgb(61 178 7 / 1);
}

/* .portrait {
    background-image: url(img/self-portrait.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
} */

.portrait .twoup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
    max-width: 1000px;
    margin: 0 auto;
}

.portrait .twoup>div {
    width: 50%;
}

.portrait .twoup .textbox {
    padding: 3em 1em;
}


/* ARCHIVE */

.h2-archive {
    font-family: "droid-serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    color: rgb(61 178 7 / 1);
}

/* SWIPER */

/* .swiper-wrapper {
    max-height: 80vh;
} */