/* VARIABLES */

html {
    --color-body: rgb(235 135 171 / 1);
}

/* GLOBALS */

body {
    margin: 0;
    background-color: var(--color-body);
}

/* FONTS */

/* font-family: "droid-serif", serif;
font-weight: 700;
font-style: italic; */

/* font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal; */

/* HEADER */

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: rgb(255 255 255 / 1)
}

/* LOGO */

.site-logo {
    padding: 1em;
    color: rgb(255 255 255 / 1);
}

/* SITE NAV */

.site-nav ul,
.site-nav li {
    margin: 0;
    position: relative;
    list-style: none;
}

.site-nav ul {
    display: flex;
}

.site-nav li {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* HERO */

.hero { 
    background-image: url(img/self-portrait.jpg);
    background-size: cover;
    background-position: center;
    padding: 29.5vh 2em;
    background-color: rgb(248 220 232 / 1);
}

.hero h2 {
    font-family: "droid-serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    font-style: italic;
    margin: 0 auto;
    color: rgb(61 178 7 / 1);
}

.hero p {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 26em;
    line-height: 1.4;
    color: rgb(0 0 0 / 1);
}