/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */


/* TYPOGRAPHY */

body {
    font-size: 87.5%; /* 14px */
    font-family: Avenir Next, sans-serif;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;
}

h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5;
}

/* PARAGRAPHS */

p {
    margin: .5em 0;
    max-width: 38em;
}

/* LINKS */

a {
    color: #896052;
    text-decoration: none;
}

a:hover {
    color: #6F4C44;
    text-decoration: underline;
}

/* BLOCK QUOTES */

blockquote {
    font-size: 1.142em;
    margin: 1.5em 0;
    padding: 1.5em;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    max-width: 38em;
  }
  
  blockquote cite {
    display: block;
    opacity: 0.8;
    font-size: 0.875em;
    color: #896052;
  }
  
  blockquote cite:before {
    content: "—";
    margin-right: 0.25em;
  }

/* HELPER CLASSES */

.text-centered {
    text-align: center;
}

.full-width {
    max-width: none;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

/* IMAGES */

img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */

.button,
button {
    font-size: inherit;
    line-height: 1;
    background-color: #896052;
    border: 1px solid #896052;
    color: rgba(255, 255, 255, 1);
    padding: 1em;
    display: inline-block;
    margin: .5em;
    text-align: center;
    border-radius: .5em;
}

.button:hover,
button:hover {
    background-color: #6F4C44;
    border-color: #6F4C44;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    color: #896052;
}

.button.alt:hover {
    background-color: #6F4C44;
    color: rgb(255, 255, 255, 1);
}