@font-face {
    font-family: 'LEMON MILK';
    src: url('LEMONMILK-Bold.eot');
    src: url('LEMONMILK-Bold.eot?#iefix') format('embedded-opentype'),
        url('LEMONMILK-Bold.woff2') format('woff2'),
        url('LEMONMILK-Bold.woff') format('woff'),
        url('LEMONMILK-Bold.ttf') format('truetype'),
        url('LEMONMILK-Bold.svg#LEMONMILK-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

