/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* TYPOGRAPHY */
body {
    font-size: 87.5%; /* 14px */
    font-family: Avenir Next, sans-serif;
    line-height: 1.5;
    color: rgb(0 0 0 / .8);
}

/* CUSTOM FONT STYLING */
/* FONT CREDIT: https://marsnev.com/ */
@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Bold.eot');
    src: url('../fonts/LEMONMILK-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('../fonts/LEMONMILK-Bold.woff') format('woff'),
        url('../fonts/LEMONMILK-Bold.ttf') format('truetype'),
        url('../fonts/LEMONMILK-Bold.svg#LEMONMILK-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;
}

h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5;
}

/* CUSTOM TEXT */
.section-title {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(145 156 190);
}

.press-here {
    font-family: Avenir Next, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(145 156 190);
}

/* SEARCHBAR */
.search-box {
    position: relative;
}

.search-box__input {
    font-family: Avenir Next, Arial, Helvetica, sans-serif;
    border: 4.5px solid transparent;
    border-image: linear-gradient(
        to left,
        #919cbe,
        #be6457
    ) 1;
    caret-color: #fff;
    color: rgb(0 0 0 / .8);
    border-radius: .4em;
    padding: .25em .8em;
    font-size: 1em;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.318);
}

/* SUB NAV */
.sub-nav {
    margin-top: -2em;
    margin-bottom: -3em;
}

.sub-nav a {
    display: inline-block;
    justify-content: center;
    padding: 5em 3em 2em 3em;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-btn-bg {
    background-image: url(../img/svg/about-outline.svg);
}

.shopping-btn-bg {
    background-image: url(../img/svg/shopping-outline.svg);
}

.shopping-cart-btn-bg {
    background-image: url(../img/svg/shoppingcart-outline.svg);
}

.tracking-btn-bg {
    background-image: url(../img/svg/tracking-outline.svg);
}

.policies-btn-bg {
    background-image: url(../img/svg/policies-outline.svg);
}

/* ABOUT */
article .subhead {
    font-weight: normal;
    max-width: 1000px;
    font-size: 86%;
}

.sparkles {
    position: absolute;
    transform: translate(195px, -2px);
}

/* SHOPPING */
section {
    padding: 3em 0;
}

.categories {
    font-family: Avenir Next, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-size: 100%;
    background-repeat: repeat;
    background-image: linear-gradient(
        90deg,
        #919cbe,
        #be6457
        );
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
}

/* REVIEWS */
.r-header {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
    color: rgb(145 156 190);
    background-color: rgb(255 255 255);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.318);
    border-radius: 10px;
    padding: .4em .1em .4em .1em;
    text-align: center;
}

.colored {
    background-color: rgb(145 156 190);
    border-radius: 10px;
    padding: .5em 1em;
    margin-bottom: 1.8em;
}

.r-white {
    color: rgb(255 255 255 / 1);
    font-size: 80%;
}

.outline {
    border: 4.5px solid #919cbe;
    border-radius: 10px;
    padding: .5em 1em;
    box-sizing: border-box;
    width: 100%;
}

.r-blue {
    color: rgb(145 156 190);
    font-size: 85%;
}

.user-info {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
}

.darker {
    color:rgb(186 89 76);
}

.fa-star {
    color: rgb(190 100 87);
}

.down-arrow {
    font-size: 48px;
    color: rgb(145 156 190);
    text-align: center;
}

.cactus {
    position: absolute;
    transform: translate(360px, -50px);
}

/* SHOPPING CART */
#shopping-cart {
    background-image: linear-gradient(
        90deg,
        #919cbe,
        #be6457
    );
    background-position: center;
    border-radius: 10px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.sc-header {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
    color: rgb(145 156 190);
    background-color: rgb(255 255 255);
    border-radius: 10px;
    padding-top: .4em;
    padding-bottom: .4em;
    text-align: center;
}

.sc-text {
    color: rgb(255 255 255 / 1);
    padding-bottom: 2.5em;
}

.sc-row {
    float: right;
    width: 50%;
}

.sc-column::after {
    content: "";
    display: table;
    clear: both;
}

.circle {
    padding: 5em 6em;
    margin: 1em;
    background-color: #fff;
    border-radius: 50%;
}

.plus {
    text-align: center;
    font-weight: bold;
    color: #888683;
}

.slots {
    justify-content: space-between;
    margin-top: 1.5em;
}

.slots-text span {
    display: flex;
    justify-content: space-around;
    padding: .2em;
    text-transform: uppercase;
    color: rgb(255 255 255 / 1);
}

.quantity {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
    padding-left: 2em;
    font-weight: normal;
    text-align: center;
}

.sc-gories {
    font-size: 82%;
    font-weight: bold;
    padding-left: 2em;
    text-align: center;
}

.dog {
    position: absolute;
    transform: translate(-30px, -90px);
}

/* TRACKING */
.tp-header {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
    color: rgb(145 156 190);
    background-color: rgb(255 255 255);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.318);
    border-radius: 10px;
    padding: .4em .3em .4em .3em;
    text-align: center;
}

/* SUBSCRIPTION */
.blue {
    font-family: Avenir Next, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: medium;
    color: rgb(145 156 190);
    padding: 10em 6em 9em 6em;
    background-size: contain;
    background-repeat: no-repeat;
}

.sub-outline {
    background-image: url(../img/svg/juminos-text.svg);
}

.email-ol {
    border: 4.5px solid transparent;
    border-image: linear-gradient(
        to left,
        #919cbe,
        #be6457
    ) 1;
    padding: .5em 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
}

.sign-ol {
    background-image: linear-gradient(
        90deg,
        #919cbe,
        #be6457
    );
    border-radius: 10px;
    padding: .7em 1.8em;
    margin: 0;
    font-weight: bold;
    font-size: 78%;
    text-transform: uppercase;
    color: rgb(255 255 255 / 1);
    max-width: fit-content;
}

.sign-ol:hover {
    color: rgb(255 255 255 / 1);
}

/* HERO */
.hero {
    text-align: center;
}

/* PARAGRAPHS */
p {
    margin: .5em 0;
    max-width: 38em;
}

/* LINKS */
a {
    color: rgb(145 156 190);
    text-decoration: none;
}

a:hover {
    color: rgb(190 100 87);
    text-decoration: none;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
/* .button,
button, .submit {
    font-size: inherit;
    line-height: 1;
    background-color: rgb(199 62 62);
    color: rgb(255 255 255 / 1);
    padding: 1em;
    display: inline-block;
    margin: 1.5em;
    text-align: center;
    border-radius: .5em;
}

.button:hover,
button:hover {
    background-color: rgb(146 34 34);
    border-color: rgb(146 34 34);
    color: rgb(255 255 255 / 1);
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    color: rgb(199 62 62);
}

.button.alt:hover {
    background-color: rgb(146 34 34);
    color: rgb(255 255 255 / 1);
} */

/* CONTAINER */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1em 4%;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {

    body {
        font-size: 100%; /* 16px */
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px */
    }
    .container {
        max-width: 1500px;
    }
}

/* SEMANTIC GRID SYSTEM */
.row > .column {
    margin-bottom: 4%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .swapped {
        flex-direction: row-reverse;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 62.6666%;
    }

    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOR DEMO PURPOSES ONLY */
.demo .column {
    background: rgb(0 0 0 / .2);
    padding: 1em;
    text-align: center;
}

/* SITE STRUCTURE */
/* SITE HEADER */
.site-header {
    background-color: rgb(145 156 190);
    padding: 1em;
}

/* SITE FOOTER + POLICIES */
.icons {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icons a {
    font-size: 2em;
    margin-right: 1em;
    color: rgb(255 255 255 / 1);
}

.site-footer {
    padding: 1em 0;
    margin: .5em;
    background-color: rgb(190 100 87);
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.318);
}

.policy-header {
    font-family: LEMON MILK, Arial, Helvetica, sans-serif;
    color: rgb(255 255 255 / 1);
}

.policy-text {
    font-size: 80%;
    color: rgb(255 255 255 / 1);
    padding-bottom: 2em;
}

.read-more {
    font-weight: bold;
    color: rgb(255 255 255 / 1);
}

.read-more:hover {
    color: rgb(255 255 255 / 1);
    text-decoration: underline;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}

/* STYLING FOR BOTH HEADER AND FOOTER */
/* LOGO AREA */
.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: -1em;
    text-align: center;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    color: rgb(255 255 255 / 1);
}

.site-nav a {
    display: block;
    padding: 0;
}

.site-nav .menu-button {
    display: none;
}

/* TOGGLE NAV */
@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }

    .toggle-nav .site-nav {
        text-align: right;
    }

    .toggle-nav .menu-button {
        display: inline-block;
        background-color: transparent;
        border: none;
        padding: .3em .8em;
        margin-bottom: .8em;
        border: 1px solid rgb(0 0 0);
    }

    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgb(255 255 255);
    }

    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }

    .toggle-nav .site-nav a:hover {
        background-color: rgb(199 62 62);
        color: rgb(255 255 255);
    }

    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }

    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }
}

/* ANIMATED TOGGLE-MAV MENU */
@media (max-width: 767px) {
    .toggle-nav.animated ul {
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0;
      border-width: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] ul {
      max-height: 138em;
      opacity: 1;
      padding: 0.5em 0;
      border-width: 0px;
      transition: all 0.6s ease;
    }
  
    .toggle-nav.animated li {
      padding: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] li {
      padding: 0.25em;
      opacity: 1;
      transition: all 0.6s ease 0.2s;
    }
  
    .toggle-nav.animated li a {
      padding: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] li a {
      padding: 0.75em;
    }

    .menu-button {
        cursor: pointer;
        display: flex;
        background: transparent;
        border-color: transparent;
        font-size: inherit;
        font-family: inherit;
    }

    .menu-button:after {
        content: "\2630";
        font-size: 1.5em;
        transition: all 0.2s ease-out;
    }

    [data-navstate="open"]
    .menu-button:after {
    content: "\2715";
    transform: rotate(-90deg);
    }

}

/* NAVICON */
.toggle-nav .site-nav .menu-button.navicon {
    border: none;
    color: rgb(255 255 255 / 0);
    padding: 0;
}

.toggle-nav .site-nav .menu-button.navicon::after {
    content: "\2630";
    display: inline-block;
    padding: .2em 0;
    margin: 0;
    color: rgb(0 0 0 / .8);
    font-size: 1.5em;
}

.toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
    content: "\2715";
    font-size: 1.5em;
}

/* CUSTOM SITE CSS */
.site-header.sticky {
    position: fixed;
    width: 100%;
}

.site-header.sticky + main {
    padding-top: 3em;
}

.line-break::after {
    content: "";
    display: block;
    width: 100px;
    margin: .5em auto;
    border-bottom: 3px solid rgb(0 0 0 / .2);
}

.hl {
    content: "";
    display: block;
    width: 900px;
    margin: -1em auto;
    border-bottom: 2px solid rgb(190 100 87);
    transform: translateX(-120px);
}

/* FORMS */
form {
    max-width: 600px;
    margin: 0;
}

form label,
form input,
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
}

form label {
    margin-top: 2em;
    margin-bottom: .25em;
}

form input[type="text"],
form textarea {
    border: 4.5px solid #ccc;
    padding: .5em;
    color: #666;
}

form textarea {
    min-height: 10em;
    line-height: 1.5em;
}

form input[type="submit"] {
    margin-top: 1.5em;
    width: auto;
}

/* VERTICAL MEDIA QUERY */

/* @media (min-height: 600px) {
    #contact {
        padding-bottom: 15em;
    }
} */